<div class="p-2">
    <h2 mat-dialog-title>{{matDialogTitle}}</h2>
    <mat-dialog-content class="mat-typography">
        <div class="btcd-f-input text-center">
            <small>Click and Select Files:</small>
            <div class="btcd-f-wrp">
                <button class="btcd-inpBtn" type="button"> <mat-icon>cloud_upload</mat-icon> <span> Attach
                        File</span></button>
                <span class="btcd-f-title">No File Chosen</span>
                <small class="f-max">(Max 1 MB)</small>
                <input multiple type="file" name="snd_multiple" (change)="onFileSelected($event)">
            </div>
        </div>

        <div class="image-preview mt-5 text-center" *ngIf="selectedFiles.length > 0">
            <div *ngFor="let img of previews">
                <mat-card class="image-card p-2 mt-2">
                    <img [src]="img" alt="Image preview" />
                </mat-card>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
        <button mat-raised-button color="primary" (click)="onSaveFiles()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>