<h2 mat-dialog-title>{{matDialogTitle}}</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="product.images?.length === 0">
        <span>Not images available.</span>
    </div>
    <div *ngIf="product.images!.length > 0">
        <div class="grid">
            <div class="lg:col-4 md:col-6 col-12" *ngFor="let image of product.images">
                <img [src]="image.url" [alt]="'Image from product ' + product.name" mat-card-md-image>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Add New Image Product</button>
</mat-dialog-actions>
